/* GameView */
#timerLabel {
	-fx-font-family: Merriweather;
	-fx-font-weight: bold;
	-fx-font-size: 30;
	-fx-padding: 13px 0;
	-fx-text-fill: white;
}

#systemMessage {
	-fx-background-color: #000000b9;
	-fx-font-family: Merriweather;
	-fx-font-weight: bold;
	-fx-font-size: 15;
	-fx-padding: 13px 0;
	-fx-text-fill: white;
	-fx-text-alignment: center;
	-fx-label-padding: 0 5 0 5;
}

.playerinfo {
	-fx-font-family: Merriweather;
	-fx-fill: white;
	-fx-font-size: 12;
}

#TrainCard:hover {
    -fx-translate-x: -10;
    -fx-cursor: hand;
    -fx-view-order: -1;
}

#onHoverUp:hover {
    -fx-translate-y: -10;
    -fx-cursor: hand;
    -fx-view-order: -1;
}

#destinationCards:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
    -fx-cursor: hand;
}
