@font-face {
    font-family: MerriweatherRegular;
    src: url('Merriweather.ttf');
}

@font-face {
    font-family: MerriweatherBold;
    src: url('MerriweatherBold.ttf');
}

.button {
	-fx-background-color: #c73e18;
	-fx-font-family: MerriweatherBold;
	-fx-text-fill: white;
	-fx-font-size: 20;
	-fx-font-weight: 700;
	-fx-padding: 15;
	-fx-min-width: 250;
	-fx-effect: dropshadow( one-pass-box , black , 10 , 0 , 0 , 0 );
	-fx-cursor: hand;

    -fx-background-radius: 0;
    -fx-background-insets: 0;
	-fx-border-width: 1 1 1 1;
	-fx-border-color:black;
}

.button:hover {
	-fx-background-color: #660008;
}
